@tailwind base;
* {
  font-family: "Montserrat", monospace;
  box-sizing: border-box;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 0px;
}

@tailwind components;
@tailwind utilities;
